.container{
    text-align: center;
    font-weight: 500;
}
.comment-icon{
    font-size: 20px; 
    color: #25ACE3;
    margin: 0 10px 0 0;
}

.wrapper{
    text-align: center;
    margin: 25px 0 0 0;
}

.position{
    position: absolute;
    top: 60px;
    left: 130px;
}

.need-help{
    display: flex; 
    justify-content: flex-end;
}

.safe-width{
    height: 50px;
    margin: 30px 0 0 0;
}
.border-solid{
    border-style: solid;
    margin: 0 10px 0 5px;
}
.not-an-individual{
    text-decoration: none; 
    color:#25ACE3;
}